.testHeight{
    height: 2000px;
}
#affix.affix {
    top: 0;
}
.bj-app-sidenav{
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}
.bj-app-sidenav > li{
    border: 1px solid #E5E5E5;
    margin: 0 0 -1px;
}
.bj-app-sidenav > li.active{
    border-color: #0088cc;
}
.bj-app-sidenav > li.active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}
.bj-app-sidenav > li > a,
.bj-app-sidenav > li > h3{
    margin: 0;
    padding: 8px 14px;
}
.bj-app-sidenav > li > h3{
    border-radius: 6px 6px 0 0;
    font-size: 24px;
    background-color: whiteSmoke;
    color: #005580;
}
.bj-app-sidenav > li > a:hover {
    background-color: whiteSmoke;
}
.bj-app-sidenav > li:first-child{
    border-radius: 6px 6px 0 0;
}
.bj-app-sidenav > li:nth-child(2){
    background-color: whiteSmoke;
    padding: 8px 0 0 3px;
}
.bj-app-sidenav > li:last-child{
    border-radius: 0 0 6px 6px;
}
.bj-app-rbg{
    float: right;
    top: 3px;
}
.bj-app-rbg > .bj-btn-success.active{
    color: #ffffff;
    background-color: #51a351;
    text-shadow: none;
}
.bj-app-rbg > .bj-btn-warning.active{
    color: #ffffff;
    background-color: #f89406;
    text-shadow: none;
}
.bj-app-toolbar,
.bj-app-table{
    margin-top: 30px;
}

.bj-app-table > thead > tr > th{
    background-color: whiteSmoke;
}
@media (min-width: 1200px){
    .bj-app-sidenav {
        width: 258px;
    }
    .bj-app-sidenav input.bj-app-sidenav-search{
        width: 237px
    }
}
@media (min-width: 980px) {
    .bj-app-sidenav {
        top: 0;
        margin-top: 30px;
        margin-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .bj-app-sidenav {
        width: 166px;
        margin-top: 20px;
    }
    .bj-app-sidenav input.bj-app-sidenav-search{
        width: 145px;
    }
}
@media (max-width: 767px) {
    .bj-app-sidenav {
        width: auto;
        margin-bottom: 20px;
    }
    .bj-app-sidenav.affix {
        position: static;
        width: auto;
        top: 0;
    }
    .bj-app-sidenav input.bj-app-sidenav-search{
        width: 97%;
    }
}
@media (max-width: 480px) {
    .bj-app-sidenav input.bj-app-sidenav-search{
        width: 95%;
    }
}
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}