<form class="row-fluid">
    <legend>
        {{formTitle}}
    </legend>
    {{view Ember.TextField size="16" valueBinding="id" disabled="disabled" type="hidden"}}
    <div class="row-fluid">
        <label class="span2">登录帐号</label>
        <div class="span4">{{view Ember.TextField size="16" valueBinding="account" disabledBinding="isEditing"}}</div>
        <label class="span2">电子邮箱</label>
        <div class="span4">{{view Ember.TextField size="16" valueBinding="email"}}</div>
    </div>
    <div class="row-fluid">
        <label class="span2">用户名</label>
        <div class="span4">{{view Ember.TextField size="16" valueBinding="username" disabledBinding="isEditing"}}</div>
        <label class="span2">联系电话</label>
        <div class="span4">{{view Ember.TextField size="16" valueBinding="telephoneNum"}}</div>
    </div>
    <div class="row-fluid">
        <label class="span2">职位</label>
        <div class="span4">{{view Ember.TextField size="16" valueBinding="position"}}</div>
        <label class="span2">部门</label>
        <div class="span4">{{view Ember.TextField size="16" valueBinding="department"}}</div>
    </div>
    <div class="row-fluid">
        <label class="span2">状态</label>
        <div class="span4">{{view Ember.TextField size="16" valueBinding="status"}}</div>
        <label class="span2">移动电话</label>
        <div class="span4">{{view Ember.TextField size="16" valueBinding="mobilePhoneNum"}}</div>
    </div>
    <div class="row-fluid">
        <button class="btn btn-primary" {{action "save" target="controller"}}>保存</button>
        <button class="btn btn-primary" {{action "saveAndAdd" target="controller"}}>保存并新建</button>
        <a class="btn" {{action "backToList" target="controller"}}>取消</a>
    </div>
</form>