<table class="table table-bordered table-hover bj-app-table">
    <thead>
    <tr>
        <th><input type="checkbox"></th>
        <th>用户名</th>
        <th>登录帐号</th>
        <th>联系电话</th>
        <th>移动电话</th>
        <th>电子邮件</th>
        <th>业务单位</th>
        <th>部门</th>
        <th>职位</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr class="success">
        <td><input type="checkbox"></td>
        <td>顶级管理员</td>
        <td>admin</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td>默认机构</td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr class="error">
        <td><input type="checkbox"></td>
        <td>顶级审计员</td>
        <td>auditor</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr class="warning">
        <td><input type="checkbox"></td>
        <td>顶级安全员</td>
        <td>secman</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr class="info">
        <td><input type="checkbox"></td>
        <td>服务申请人</td>
        <td>server1</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td>服务目录组</td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>作业计划员</td>
        <td>task1</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td>作业处理组</td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>demo</td>
        <td>demo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-warning">过期</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>demo</td>
        <td>demo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-warning">过期</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>demo</td>
        <td>demo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-warning">过期</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>demo</td>
        <td>demo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>demo</td>
        <td>demo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>demo</td>
        <td>demo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>demo</td>
        <td>demo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    <tr>
        <td><input type="checkbox"></td>
        <td>demo</td>
        <td>demo</td>
        <td></td>
        <td></td>
        <td></td>
        <td>顶级业务单位</td>
        <td></td>
        <td></td>
        <td><span class="label label-success">正常</span></td>
    </tr>
    </tbody>
</table>