<table class="table table-bordered table-hover">
    <thead>
    {{#view view.theadView}}
        {{#if view.isMultiMode}}
        <th>{{view Ember.Checkbox}}</th>
        {{/if}}
        {{#each view.heads}}
        <th>{{title}}</th>
        {{/each}}
    {{/view}}
    </thead>
    <tbody>
    {{#each record in view.content}}
    {{#view view.tbodyView controllerBinding="record"}}
        {{#if view.isMultiMode}}
        <td>{{view Ember.Checkbox checkedBinding="view.selected"}}</td>
        {{/if}}
        {{#each col in view.heads}}
        <td>{{getValueInNestEach controller col.mapping}}</td>
        {{/each}}
    {{/view}}
    {{/each}}
    </tbody>
    <tfoot>
    <tr>
        <td {{bindAttr colspan="view.colsLen"}}>
            <div class="pagination pagination-right">
                <ul>
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#" data-bsview-pagenum="1">1</a></li>
                    <li class="active"><a href="#" data-bsview-pagenum="2">2</a></li>
                    <li><a href="#" data-bsview-pagenum="3">3</a></li>
                    <li><a href="#" data-bsview-pagenum="4">4</a></li>
                    <li><a href="#" data-bsview-pagenum="5">5</a></li>
                    <li><a href="#" data-bsview-pagenum="6">6</a></li>
                    <li><a href="#" data-bsview-pagenum="7">7</a></li>
                    <li><a href="#" data-bsview-pagenum="8">8</a></li>
                    <li><a href="#" data-bsview-pagenum="9">9</a></li>
                    <li><a href="#" data-bsview-pagenum="10">10</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tfoot>
</table>