<table class="table table-bordered table-hover">
    <thead>
    {{#view view.TheadView}}
        {{#if view.isMultiMode}}
        <th class="col-cb">{{view Ember.Checkbox}}</th>
        {{/if}}
        {{#each view.heads}}
        <th {{bindAttr class="mapping"}}>{{title}}</th>
        {{/each}}
    {{/view}}
    </thead>
    <tbody>
    {{#each record in view.content}}
    {{#view view.RowView controllerBinding="record"}}
        {{#if view.isMultiMode}}
        <td class="col-cb">{{view Ember.Checkbox checkedBinding="view.selected"}}</td>
        {{/if}}
        {{#each col in view.heads}}
        <td {{bindAttr class="col.mapping"}}>{{getValueInNestEach controller col.mapping}}</td>
        {{/each}}
    {{/view}}
    {{/each}}
    </tbody>
    {{#if view.needsPagination}}
    <tfoot>
      <tr>
        <td {{bindAttr colspan="view.colsLen"}}>
            <div class="pagination pagination-right">
                {{#view view.PageView}}
                    <li><a href="#" data-bsview-pagenum="1">&laquo;</a></li>
                    {{#each page in view.pageNums}}
                    <li {{bindAttr class="page.isActive:active"}}><a href="#" data-bsview-pagenum="{{unbound page.pageNum}}">{{page.text}}</a></li>
                    {{/each}}
                    <li><a href="#" data-bsview-pagenum="{{unbound lastPage}}">&raquo;</a></li>
                {{/view}}
            </div>
        </td>
      </tr>
    </tfoot>
    {{/if}}
</table>