@charset "utf-8";
/* CSS Document */

#site-nav {
	width: auto;
	min-width: 1024px;
	line-height: 1.5;
}

#site-nav .menu {
	position: relative;
}

#site-nav .menu-no {
	display: block;
	position: relative;
	height: 20px;
	line-height: 17px;
	margin: 3px 1px 0;
	padding: 0px 10px 0 10px;
	z-index: 10002;
}

#site-nav .menu-hd {
	display: block;
	position: relative;
	height: 20px;
	line-height: 17px;
	margin: 3px 1px 0;
	padding: 1px 0 0 10px;
	cursor: pointer;
	z-index: 10002;
 	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#site-nav .hover .menu-hd {
	margin: 2px 0 0 2px;
	padding: 1px 0 0 8px;
	border: 1px solid #BFBFBF;
	border-bottom: none;
	background: white;
}

#site-nav .menu-bd a {
	width:100%;
}

#site-nav .menu-bd a:hover {
	color: #F50;
	width:100%;
}

#site-nav .menu-hd .bt {
	position: absolute;
	right: 10px;
	top: 7px;
	width: 0;
	height: 0;
	border-width: 4px 4px;
	border-style: solid;
	border-color: #666 whiteSmoke whiteSmoke;
	font-size: 0;
	line-height: 0;
	-webkit-transition: -webkit-transform .2s ease-in;
	-webkit-backface-visibility: hidden;
	font-weight: bold;
}

#site-nav .hover .menu-hd .bt {
	border-color: #666 white white white;
	-moz-transform: rotate(180deg);
	-moz-transform-origin: 50% 30%;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: 50% 30%;
	-o-transform: rotate(180deg);
	-o-transform-origin: 50% 30%;
	transform: rotate(180deg);
	transform-origin: 50% 30%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	top: 3px	9;
}

#site-nav .menu-bd {
	display: none;
	position: absolute;
	right: 0;
	top: 19px;
	background: white;
	border: 1px solid #BFBFBF;
	z-index: 10001;
	padding:6px;
}

#site-nav .hover .menu-bd {
	display: block;
}

#site-nav .menu-bd-panel {
	padding: 10px 10px 6px;
}

#site-nav a {
	color: #666;
}

#site-nav div{
	display: block;
}

#site-nav-bd {
	height: 24px;
	line-height: 22px;
	margin: 0 auto;
	z-index: 10000;
	color: black;
}

#site-nav .quick-menu {
	list-style-type: none;
	position: absolute;
	right: 0;
	top: 1px;
	margin: 0;
}

#site-nav .quick-menu li {
	display: list-item;
	text-align: -webkit-match-parent;
	margin: 0;
	float: left;
	padding: 1px 10px 0 10px;
	background-position: right 6px;
}

#site-nav .quick-menu li.menu-item {
	position: relative;
	padding: 1px 0 0;
}

#site-nav .quick-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

#site-nav .quick-menu b.leftline {
	left: 1;
}

#site-nav .quick-menu b.rightline {
	right: 0;
}

#site-nav .quick-menu b.leftline, #site-nav .quick-menu b.rightline {
	width: 1px;
	position: absolute;
	border-left: 1px solid #BFBFBF;
	height: 12px;
	display: block;
	top: 6px;
	z-index: 10002;
	overflow: hidden;
}